#tagline {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	width: 382px;
	display: inline-block;
}

h1 {
	font-family: 'aleo', Calibri, Arial, sans-serif;
	color: #ffffff;
	font-weight: none;
	text-align: center;
}

.form-control {
	display: inline;
}

.btn-default { 
	background-color: #f6ae64; 
	border-color: #f6ae64;
	margin-top: 10px;
}

#logo-and-tagline {
	top: -40px;
	position: relative;
}

/* Search Results Panel */

.search-results {
	background-color: #ffffff;
	width: 90%;
	height: 90%;
	border-radius: 45px;
}


/* Search Bar */

.glyphicon-search:before { 
	color: #000000; 
}

.glyphicon-search {
    font-size: 17px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}