<!DOCTYPE html>
<html lang="en" class="no-js demo-4">
<head>
	{% load staticfiles %}
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" href="{% static "assets/css/book.css" %}">

	<link rel="stylesheet" href="{% static "assets/css/default.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/bookblock.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/demo4.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/bootstrap-responsive.min.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "assets/css/custom.css" %}">



	<script src="{% static "assets/js/modernizr.custom.js" %}"></script>
</head>
<body>
	<div class="container">
		<div class="bb-custom-wrapper">
			<div id="bb-bookblock" class="bb-bookblock">
				<div class="bb-item">
					<div class="bb-custom-firstpage">

						<div id="logo-and-tagline">

							<img src="{% static "assets/images/FSMlogo.png" %}">

							<div id="tagline">
								<h1>relive the movement.</h1>
							</div>

						</div>



						<nav class="codrops-demos">

							<div class="left-inner-addon ">
								<i class="glyphicon glyphicon-search"></i>
								<input id="search-bar" type="text" class="form-control" placeholder="e.g. Mario Savio" />
							</div>

							<div id="explore-button">
								<button id="search-button" type="submit" class="btn btn-default">Explore</button>


							<div id="filter-wrapper">
								<div id="filter-date-wrapper">
									<input id="filter-date" type="checkbox"> exclude items with missing dates 
								</div>
								<div id="filter-image-wrapper">
									<input id="filter-image" type="checkbox"> exclude items with missing images
								</div>

								<div id="hint">
									Hint: Don't know what to search? Turn the page!
								</div


							</div>


							</div>

						</nav>
					</div>
					<div class="bb-custom-side">

						<div id="my-picture">
							<div id="about">
								<span id="about-header">About</span>
							</div>
							<span id="about-body">The Free Speech Movement (FSM) was a college campus protest that began in <font color="#00b2a5">1964</font> when several students at the University of California, Berkeley <font color="#f6ae64">protested</font> a ban on on-campus political activities, demanding their right to free speech and <font color="#EE1F60">academic freedom</font>. The FSM later ignited an unprecedented wave of student activism and involvement across the nation.</span>

						</div>

						<div class="search-results">
							<div id="leftside-wrapper">
							<ul id="timeline-list" class="cbp_tmtimeline">
							</ul>
						</div>

						</div>

					</div>
				</div>
				<div class="bb-item">

				<div id="my-picture">
					<div id="about">
					<span id="about-header-2">Suggested Search Terms</span>
					</div>
					<span id="about-body"> freedom, Mario Savio, government, notebook, speech, Sproul, Berkeley, protest, building</span>

					<div id="space">
					</div>

					<span id="about-header-2">Learn more about the Free Speech Movement</span>

					<br>

					<span id="about-body">
					Here are some other resources you can explore: <br>
					</span>

					<a href="https://www.popuparchive.com/collections/1712">1712 UCSF Archives and Special Collections</a>
					<p></p>
					<a href="https://www.popuparchive.com/collections/1703"> UC-Berkeley Ethnic Studies Library</a>

					</span>

					<div id="space">
					</div>

					<span id="about-header-2">About the Relive FSM Project</span>

					<br>

					<span id="about-body">
					Relive FSM brings to you the digital <font color="#00b2a5">images</font> and <font color="#f6ae64">texts</font> from the <font color="#EE1F60">Bancroft Library</font>'s Free Speech Movement archive. 
					</span>
				</div>

				<div class="container">

							<div class="component">

								<ul class="align">
										
									<li>
										<figure class='book'>

										<!-- Front -->

											<ul class='hardcover_front'>
												<li>
													<img src="{% static "assets/images/cover-fsm.jpg" %}" alt="" width="100%" height="100%">
												</li>
												<li></li>
											</ul>

										<!-- Pages -->

											<ul class='page'>
												<li></li>
												<li>
												<div id="animated-book">
													Relive FSM was created by UC Berkeley students Mari Batilando, Paulina Ramos, and Bon Jin Koo for the Digital Humanities #hackFSM Hackathon.
												</div>
												</li>
												<li></li>
												<li></li>
												<li></li>
											</ul>

										<!-- Back -->

											<ul class='hardcover_back'>
												<li></li>
												<li></li>
											</ul>
											<ul class='book_spine'>
												<li></li>
												<li></li>
											</ul>

										</figure>
									</li>
								</ul>

							</div>
						</div><!-- /container -->

				</div>
			</div>

			<nav>
				<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
				<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
			</nav>

		</div>

	</div><!-- /container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{% static "assets/js/jquerypp.custom.js" %}"></script>
        <script src="{% static "assets/js/jquery.bookblock.js" %}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
        <script src="{% static "assets/js/custom.js" %}"></script>
        <script>
        var Page = (function() {
        	var config = {
        		$bookBlock : $( '#bb-bookblock' ),
        		$navNext : $( '#bb-nav-next' ),
        		$navPrev : $( '#bb-nav-prev' ),
        		$navFirst : $( '#bb-nav-first' ),
        		$navLast : $( '#bb-nav-last' )
        	},
        	init = function() {
        		config.$bookBlock.bookblock( {
        			speed : 1000,
        			shadowSides : 0.8,
        			shadowFlip : 0.4
        		} );
        		initEvents();
        	},
        	initEvents = function() {
        		var $slides = config.$bookBlock.children();

						// add navigation events
						config.$navNext.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'next' );
							return false;
						} );

						config.$navPrev.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'prev' );
							return false;
						} );

						config.$navFirst.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'first' );
							return false;
						} );

						config.$navLast.on( 'click touchstart', function() {
							config.$bookBlock.bookblock( 'last' );
							return false;
						} );
						// add swipe events
						$slides.on( {
							'swipeleft' : function( event ) {
								config.$bookBlock.bookblock( 'next' );
								return false;
							},
							'swiperight' : function( event ) {
								config.$bookBlock.bookblock( 'prev' );
								return false;
							}
						} );

						// add keyboard events
						$( document ).keydown( function(e) {
							var keyCode = e.keyCode || e.which,
							arrow = {
								left : 37,
								up : 38,
								right : 39,
								down : 40
							};

							switch (keyCode) {
								case arrow.left:
								config.$bookBlock.bookblock( 'prev' );
								break;
								case arrow.right:
								config.$bookBlock.bookblock( 'next' );
								break;
							}
						} );
					};

					return { init : init };

				})();
				</script>
				<script>
				Page.init();
				</script>
				<script id="timeline-template" type="text/html">
				 {% verbatim %}

				 	{{ #. }}
						   <div class="item">
						   		<div class="item-picture">
						   			<a href="{{ fsmImageUrl.0 }}"><img class=""src="{{ fsmImageUrl.0 }}"></a>
						   		</div>
						   		<h2 class="title">{{ fsmTitle.0 }}</h2>
						   		<h3 class="type">{{fsmRelatedTitle.0}}</h3>
						   		<h4> {{fsmDateCreated.0}}</h4>
						   		<div class="item-info">
									<span class="item-attr"><b>Resource</b>: {{fsmTypeOfResource.0}} {{fsmTypeOfResource.1}}</span>
									<span class="item-attr"><b>Identifier</b>: {{fsmIdentifier.0}}</span>
									<span class="item-attr"><b>Creator</b>: {{fsmCreator.0}}</span>
								</div>
						   </div>
					{{ /.}}
				{% endverbatim %}
				</script>
			</body>
			</html>